.header {
  height: 53px;
  max-height: 53px;
  flex-shrink: 0;
  background: var(--white-color);
}
.wrapContent {
  display: flex;
  .navbar {
    width: 260px;
    flex-shrink: 0;
  }
  .content {
    flex: 1;
    .content {
      flex: 1;
      height: 1024px;
      background: var(--white-color);
    }
  }
}
