.issueForm {
  width: 1036px;
  height: 645px;
  border-radius: 20px;
  border: 2px solid #000;
  background: #fff;
  padding: 12px;
  margin: 10px auto;
  color: #000;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 14px 18px;
  }
  h2 {
    color: #579ad7;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.body {
  margin-top: 20px;
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: #000;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-right: 10px;
    }
  }
}
.errorText {
  font-size: 13px;
  color: #d32f2f;
  margin-top: 6px;
}
.container {
  display: flex;
  justify-content: flex-end; /* Đẩy nút về bên phải */
}
.submit {
  margin-top: 20px;
  background-color: #579ad7;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
}
.date {
  display: flex;
  flex-direction: column;
}
.wrapItemSlc {
  display: inline-flex;
  gap: 10px;
  .avatar {
    width: 36px;
    border-radius: 225px;
  }
}
