.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Chiếm toàn bộ màn hình
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; // Màu xanh dương
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
