.total-login {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  justify-content: flex-end;
  margin-left: 10px;
}
.login_text {
  font-size: 12px;
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-toggler {
  background-color: white !important;
  font-size: 11px !important;
}
