.register {
  background-image: url("../assets/image/bg_2.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  display: flex;
}
.register-form {
  width: 100%;
  background-color: rgba(26, 33, 18, 0.5) !important;
}
.register-form-content {
  max-width: 930px;
  width: 100%;
  height: 600px;
  background-color: white;
  margin: 16px auto;
  border-radius: 6px;
}
.register-title {
  text-align: center;
  font-size: 32px !important;
  padding: 25px 0;
}
.register-total {
  width: 100%;
  max-width: 889px;
  padding: 16px;
  display: flex;
  justify-content: center;
}
.register-introduction {
  max-width: 374px;
  width: 100%;
  height: 100px;
}
.register-introduction-content {
  display: flex;
}
.register-introduction-icon {
  color: #e32163;
  font-size: 30px;
  margin-right: 10px;
}
.register-introduction-text {
  font-size: 18px !important;
  color: #3c4858;
  margin-bottom: 15px !important;
  margin-top: 5px;
}
.register-introduction-describe {
  font-size: 14px !important;
  color: #999999;
  margin-bottom: 10px !important;
}
.register-form-total {
  max-width: 374px;
  width: 100%;
  height: 100px;
}
.register-total-social {
  display: flex;
  justify-content: center;
}
.register-icon-tw {
  font-size: 30px !important;
  color: #57aced;
}
.register-icon-social {
  font-size: 30px !important;
  color: #ea4d88;
}
.register-icon-fb {
  font-size: 30px !important;
  color: #3b5999;
}
.register-or {
  font-size: 18px !important;
  text-align: center;
  font-weight: 300;
  margin-top: 10px !important;
}
.register-bag {
  position: relative;
}
.register-input-icon {
  margin-right: 20px;
  position: absolute;
  right: 27px;
  top: 16px;
}
.flexR {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.register-input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
}
.register-error {
  text-align: center;
  font-size: 12px !important;
  margin-top: 5px;
}
