.kanban-wrapper {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 45px 0 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.kanban-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background-color: #ffffff;
  min-width: fit-content;
  height: auto;
}

.kanban-column {
  background: #f7f8f9;
  width: 280px;
  height: calc(100vh - 150px);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}

.kanban-column-scroll {
  overflow-y: auto;
  margin-bottom: 150px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.add-task {
  background: transparent;
  border: none;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  margin-bottom: 10px;
}

.kanban-card {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  background: #eef4fc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
  overflow: hidden;

  &.dragging {
    opacity: 0.5; /* Task gốc mờ đi khi kéo */
  }

  &.dragging-custom {
    opacity: 0.8; /* Phần tử ảo hơi mờ */
    transform: scale(1.05); /* Phóng to nhẹ */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Tăng bóng */
    background: #eef4fc; /* Giữ màu nền giống task gốc */
    border-radius: 8px;
  }

  p {
    margin: 0;
    font-size: 14px;
    cursor: pointer;
    word-wrap: break-word;
    lineHeight: 1.2;
  }

  strong {
    font-size: 13px;
    margin-left: 20px;
    word-wrap: break-word;
  }

  .task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-shrink: 0;
  }

  .project-label {
    font-size: 12px;
    background: #d1e7ff;
    padding: 3px 6px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
}