.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh; // Đặt chiều cao của navbar là 100% chiều cao của viewport
}

.headerNavbar {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 14px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white; // Thêm màu nền để tránh bị chồng lên nội dung khác
  z-index: 1;

  .icon {
    fill: #579ad7;
    width: 27px;
    height: 30px;
    flex-shrink: 0;
  }

  .projectListTitle {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 5px;
    display: inline-block;
  }
  .notificationBadge {
    top: -5px;
    right: -10px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
  }
}

.bodyNavbar {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 14px;
  overflow-y: auto; // Thêm dòng này để hiển thị thanh cuộn dọc
  flex-grow: 1; // Đảm bảo bodyNavbar chiếm không gian còn lại

  &::-webkit-scrollbar {
    display: none;
  }
}
