.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh; // Đặt chiều cao của navbar là 100% chiều cao của viewport
}

.headerNavbar {
  display: flex;
  justify-content: space-evenly;
  padding: 26px 14px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white; // Thêm màu nền để tránh bị chồng lên nội dung khác
  z-index: 1;

  .icon {
    fill: #579ad7;
    width: 27px;
    height: 30px;
    flex-shrink: 0;
  }

  .projectListTitle {
    color: #000;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}

.bodyNavbar {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 14px;
  overflow-y: auto; // Thêm dòng này để hiển thị thanh cuộn dọc
  flex-grow: 1; // Đảm bảo bodyNavbar chiếm không gian còn lại

  &::-webkit-scrollbar {
    display: none;
  }
}

.addProjectButton {
  background-color: #579ad7;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #437abf;
  }
}
