.projectCard {
  padding: 15px;
  font-style: normal;
  background: #f5f5f5;
  transition: background-color 0.3s ease-in-out;

  &.inProgress {
    background-color: #fff3e0 !important;
  }

  &.completed {
    background-color: #cdf6d5 !important;
  }

  &.notCompleted {
    background-color: #fcc7c7 !important;
  }
  &:hover {
    background: #f3f1f1; // Màu nhạt hơn khi hover
  }

  .projectHeader {
    display: flex;
    justify-content: space-between;
  }

  .nameProject {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; /* Điều chỉnh chiều cao dòng */
    max-width: 130px; /* Giới hạn chiều rộng */

    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu vượt quá */
    word-break: break-word; /* Ngắt từ nếu quá dài */
  }

  .projectDates {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 8px;

    p {
      display: flex;
      width: 78px;
      height: 18px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      margin-top: 12px;
    }

    .endDate {
      padding-top: 20px;
    }
  }

  .projectId {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115px;
  }

  .projectResponsible {
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .avatarUser {
      width: 42px;
      height: 42px;
      // margin-right: 21px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;

      position: relative;
      top: 0;
      left: 25px;
    }

    .responsibleInfo {
      display: flex;
      align-items: center;
      gap: 5px;
      white-space: nowrap; /* Không cho xuống dòng */
      overflow: hidden; /* Ẩn phần dư */
      text-overflow: ellipsis; /* Hiển thị dấu "..." */
      max-width: 150px; /* Giới hạn chiều rộng */

      span {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .date {
    margin-top: 4px;
  }

  .projectFooter {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }

    .statusBtnInProgress {
      background: #f4a261; // Example color for "Đang thực hiện"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }

    .statusBtnNotCompleted {
      background: #e63946; // Example color for "Chưa hoàn thành"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }

    .statusBtnCompleted {
      background: #2a9d4b; // Example color for "Hoàn thành"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }
    // .bgInProgress {
    //   background-color: #e3f2fd; // xanh dương nhạt
    // }

    // .bgCompleted {
    //   background-color: #e8f5e9; // xanh lá nhạt
    // }

    // .bgNotCompleted {
    //   background-color: #fff3e0; // cam nhạt
    // }
  }
}
.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  margin-left: 50px;

  &:hover {
    background-color: darkred;
  }
}
.projectCard.selected {
  background-color: #dcdcdc;
  /* Màu xanh highlight */
  color: white;
  border-color: #dcdcdc;
}

// .projectCard.selected {
//   background-color: #dcdcdc;
//   /* Màu xanh highlight */
//   color: white;
//   border-color: #dcdcdc;
// }
.buttonDelete {
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  // align-items: center;
  border: 1px solid #e06872;
  color: #e63946;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  margin-right: 5px;
}

/* Hiệu ứng hover */
.buttonDelete:hover {
  background-color: #e63946;
  color: white;
  border-color: #e63946;
  transform: scale(1.05);
}

.buttonDelete:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(230, 57, 70, 0.6);
}
