.projectCard {
  padding-left: 23px;
  font-style: normal;
  background: #f5f5f5;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: #f3f1f1; // Màu nhạt hơn khi hover
  }

  .projectHeader {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nameProject {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4; /* Điều chỉnh chiều cao dòng */
    max-width: 130px; /* Giới hạn chiều rộng */

    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu vượt quá */
    word-break: break-word; /* Ngắt từ nếu quá dài */
  }

  .projectDates {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 8px;
    p {
      display: flex;
      width: 78px;
      height: 18px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      margin-top: 12px;
    }
    .endDate {
      padding-top: 20px;
    }
  }

  .projectId {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    white-space: nowrap; /* Không cho xuống dòng */
    overflow: hidden; /* Ẩn phần dư */
    text-overflow: ellipsis; /* Hiển thị dấu "..." */
    max-width: 115px; /* Giới hạn chiều rộng */
  }

  .projectResponsible {
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;

    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 225px;
      margin-right: 21px;
    }

    .responsibleInfo {
      display: flex;
      align-items: center;
      gap: 5px;
      white-space: nowrap; /* Không cho xuống dòng */
      overflow: hidden; /* Ẩn phần dư */
      text-overflow: ellipsis; /* Hiển thị dấu "..." */
      max-width: 150px; /* Giới hạn chiều rộng */
      span {
        color: #000;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .date {
    margin-top: 4px;
  }

  .projectFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;
    img {
      width: 36px;
      border-radius: 225px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .statusBtnInProgress {
      background: #f4a261; // Example color for "Đang thực hiện"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }

    .statusBtnNotCompleted {
      background: #e63946; // Example color for "Chưa hoàn thành"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }

    .statusBtnCompleted {
      background: #2a9d4b; // Example color for "Hoàn thành"
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 11px;
    }
  }
}
.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 30px;
  margin-left: 50px;

  &:hover {
    background-color: darkred;
  }
}

.projectCard.selected {
  background-color: #dcdcdc;
  /* Màu xanh highlight */
  color: white;
  border-color: #dcdcdc;
}