.kaban-detail {
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  overflow: hidden;
  background: white;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  .kaban-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p {
      display: flex;
      align-items: center;
      color: #4361ee;
    }
    .close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
      font-size: 20px;
      background-color: transparent;
      border: none;
      color: #333;
      &:hover {
        color: #4361ee;
      }
    }
  }

  .content {
    display: flex;
    align-items: stretch;
    height: inherit;
    overflow: hidden;
    .kaban-content {
      flex: 4;
      display: flex;
      flex-direction: column;
      padding-right: 16px;
      .comment-section {
        flex: 2;
        padding-top: 10px;
        overflow: hidden;
        .comment-box {
          margin-top: 8px;
          display: flex;
          align-items: center;

          .avatar {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            border-radius: 50%;
          }
        }

        .comment-actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          margin-top: 10px;

          button {
            height: 40px;
          }

          .cancel-btn {
            background-color: #bdbdbd !important; 
            color: #fff;
          }
        }
        .comment-list {
          margin-top: 8px;
          overflow: auto;
          height: 100%;
          max-height: 370px;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .comment {
            display: flex;
            align-items: center;
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 8px;
              border-radius: 50%;
            }
            .cmt-text {
              width: 100%;
              p {
                width: 100%;
                margin-bottom: 8px;
                color: #4361ee;
                &:last-child {
                  border-radius: 8px;
                  color: #626f85;
                  padding: 8px;
                  background: #f1f1f1;
                }
              }
            }
          }
        }
      }
      .kaban-content-text {
        flex: 1;
      }
    }
    .kaban-info {
      flex: 2;
      background-color: #f8f9fa;
      padding: 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      .kaban-description {
        flex: 1;
        display: flex;
        padding: 4px 0;
        align-items: center;
        justify-content: flex-start;
        .kaban-description-personName-edit,
        .kaban-description-link-edit {
          flex: 2;
        }
        .kaban-description-personName-edit {
          .MuiSelect-multiple {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: inherit !important;
            overflow-y: auto;
          }
        } 
        .kaban-description-edit {
          flex: 2;
          width: inherit;
          background-color: transparent;
          outline: none;
          border-color: #f1f1f1;
          padding: 4px;
        }
        &.image {
          align-items: flex-start;
          .kaban-descrition-image {
            flex: 2;
            width: 100%;
            display: block;
            img {
              width: 100%;
              height: auto;
              object-fit: cover; 
              display: block;
            }
          }
        }
        .kaban-description-date {
          flex: 2;
          margin: 0;
        }
        p {
          flex: 1;
          color: #626f85;
          font-size: 16px;
          overflow: hidden;
        }
        .kaban-description-link {
          flex: 2;
          display: block;
          text-decoration: none;
          color: #626f85;
          &:hover {
            color: #4361ee;
          }
        }
        .kaban-multi-info {
          flex: 2;
          display: flex;
          align-items: center;
          img {
            height: 30px;
            width: 30px;
            object-fit: cover;
            margin-right: 2px;
          }
          .more {
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #bdbdbd;
            cursor: pointer;
            color: #626f85;
            &:hover {
              color: #4361ee;
            }
          }
        }
        .kaban-single-info {
          flex: 2;
          display: flex;
          align-items: center;
          img {
            height: 30px;
            width: 30px;
            margin: auto;
            margin-right: 8px;
            object-fit: cover;
          }
          p {
            color: #626f85;
            margin-right: 8px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
