.container {
  width: 300px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.icon {
  width: 35px;
  height: 35px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap; /* Không cho xuống dòng */
  overflow: hidden; /* Ẩn phần dư */
  text-overflow: ellipsis; /* Hiển thị dấu "..." */
  max-width: 200px; /* Giới hạn chiều rộng */
}
.close {
  width: 12px;
}
