:root {
  --White-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
