@import "tailwindcss";

:root {
  --White-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.custom-tooltip {
  background-color: black !important;
  color: white !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
}

.custom-tooltip .MuiTooltip-arrow {
  color: black !important;
  /* Màu của mũi tên */
}

.header-filter {
  display: flex;
  justify-content: space-between;
}

.mb-16-custom {
  margin-bottom: 16px;
}

.mt-16-custom {
  margin-bottom: 16px;
}



@theme {
  --color-black: #292929;
  --color-soft-black: #383838;
  --color-white: #ffffff;
  --color-white-background: #fef9f5;
  --color-yellow: #e0ac33;
  --color-darken-white: #f2f5f9;
  --color-blue: #0074E8;
  --color-soft-blue: #7eb2f5;
  --color-light-blue: #EFF6FF;
  --color-gray: #989898;
  --color-gray-text: #848484;
  --color-soft-gray: #e6e6e6;
  --color-light-gray: #f2f2f2;
  --color-dark-gray: #7D7D7D;
  --color-gray-border: #d9d9d9;
  --color-soft-red: #ff3f3e;
  --color-red: #FF0000;
  --color-green: #21a148;
  --color-vintage-green: #00945a;
  --color-soft-green: #00d67d;
  --color-light-green: #76e874;
}