.header {
  height: 53px;
  max-height: 53px;
  flex-shrink: 0;
  background: var(--white-color);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  background-color: #f8f9fa;
}

.wrapContent {
  display: flex;
  margin-top: 53px; // Tăng margin-top để tránh header che nội dung (53px + 14px khoảng cách)
  height: calc(100vh - 53px); // Đảm bảo chiều cao còn lại của viewport

  .navbar {
    width: 280px;
    flex-shrink: 0;
    border-right: 1px solid #dfdfdf;
    color: white;
  }

  .content {
    flex: 1; // Chiếm toàn bộ không gian còn lại
    width: calc(100% - 280px); // Trừ đi chiều rộng của navbar
  }
}
.sidebarOpen {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebarClosed {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

